* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" ,sans-serif;
}

.topo {
    width: 100%;
    padding: 35px 0;
}

.secao {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.menu-topo {
    position: relative;
}

.logo-menu {
    display: flex;
}

.logo-menu .txt-logo {
    margin: 8px;
}

.txt-logo h3 {
    font-size: 32px;
}

.txt-logo p {
    font-size: 16px;
    color: #2f86d6;
    font-weight: 600;
}

.menu-topo .logo-menu img {
    width: 80px;
}


.menu-topo .links-menu {
    position: absolute;
    right: 0;
    top: 40%;
}

.links-menu a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 18px;
    color: #233032;
    font-weight: 600;
}

.banner-home {
    background-color: #2f86d6;
    color: #fff;
    position: relative;
    padding: 180px 0;
}

.banner-home p {
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
}

.banner-home h2 {
    font-size: 28px;
    margin: 20px 0;
    line-height: 40px;
}

.banner-home .banner-texto {
    width: 470px;
}

.banner-home .secao img {
    width: 50%;
    position: absolute;
    top: 0%;
    right: 0;
}